<div class="sitewide-footer">
<a href="<!-- tmpl_var name="home_page" -->">home</a> 
 - <a href="<!-- tmpl_var name="home_page" -->/info.html">info</a> 
 - <a href="<!-- tmpl_var name="home_page" -->/search.html">search</a> 
</div>
<br />
</body>
</html>
