<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" 
  xmlns:content="http://purl.org/rss/1.0/modules/content/"
  xmlns:atom="http://www.w3.org/2005/Atom"
  >
  <channel>
   <title><!-- tmpl_var name="site_name" --></title>
   <atom:link href="<!-- tmpl_var name="link" -->/rss.xml" rel="self" type="application/rss+xml" />
   <link><!-- tmpl_var name="link" --></link>
   <description><!-- tmpl_var name="site_description" --></description>
   <pubDate><!-- tmpl_var name="current_date_time" --></pubDate> 
   <language>en-us</language>
   <generator><!-- tmpl_var name="app_name" --></generator>
   <docs>http://cyber.law.harvard.edu/rss/rss.html</docs>
<tmpl_loop name="article_loop">    <item>
     <title><!-- tmpl_var name="title" --></title>
     <description><!-- tmpl_var name="description" --></description>
     <pubDate><!-- tmpl_var name="pubDate" --></pubDate> 
     <guid><!-- tmpl_var name="link" --></guid>
     <link><!-- tmpl_var name="link" --></link>
    </item>
</tmpl_loop>
  </channel>
 </rss>
