<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"> 
 <tmpl_loop name="link_loop"> <url>
    <loc><!-- tmpl_var name="link" --></loc> 
  </url>
</tmpl_loop>
</urlset>
