<!-- tmpl_include name="header.tmpl" -->

<article>
<section class="article-body">
<p>
<!-- tmpl_var name="para1" -->
</p>

<p>
<!-- tmpl_var name="para2" -->
</p>
</section>
</article>

<!-- tmpl_include name="footer.tmpl" -->
